@page
@model Kiosk.Pages.Admin.IndexModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<h2>Lista produktów</h2>

<a asp-page="AddProduct" class="add-btn">Dodaj nowy produkt</a>
<a asp-page="Categories" class="add-btn">Zarządzaj kategoriami</a>

<table>
    <thead>
        <tr>
            <th>Nazwa</th>
            <th>Kategoria</th>
            <th>Cena</th>
            <th>Opcje</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.MenuItems)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.Category.Name</td>
                <td>@item.Price.ToString("0.00") zł</td>
                <td>
                    <a asp-page="EditProduct" asp-route-id="@item.Id" class="edit-btn">Edytuj</a>
                    <form method="post" asp-page-handler="Delete" style="display:inline;">
                        <input type="hidden" name="MenuItemId" value="@item.Id" />
                        <button type="submit" class="delete-btn">Usuń</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
