
@page
@using Kiosk.Models
@using Kiosk.Extensions
@using Microsoft.AspNetCore.Http

@model Kiosk.Pages.CartModel
<link rel="stylesheet" href="~/css/site.css" />

<h2>Koszyk</h2>

@if (TempData["OrderMessage"] != null)
{
    <p class="success-message">@TempData["OrderMessage"]</p>
}

<div asp-validation-summary="All"></div>

@if (Model.CartItems.Count == 0)
{
    <p>Twój koszyk jest pusty.</p>
}
else
{
    <table>
        <thead>
            <tr>
                <th>Produkt</th>
                <th>Cena</th>
                <th>Ilość</th>
                <th>Razem</th>
                <th>Usuń</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var ci in Model.CartItems)
            {
                <tr>
                    <td>@ci.Item.Name</td>
                    <td>@ci.Item.Price.ToString("0.00") zł</td>
                    <td>@ci.Quantity</td>
                    <td>@(ci.Item.Price* ci.Quantity).ToString("0.00") zł</td>
                    <td>
                        <form method="post" asp-page-handler="Remove">
                            <input type="hidden" name="MenuItemId" value="@ci.Item.Id" />
                            <button type="submit">Usuń</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
         <div class="cart-actions">
            <p><strong>Łącznie:</strong> @Model.TotalPrice.ToString("0.00") zł</p>
            <form method="post" asp-page-handler="Checkout">
                <button type="submit">Złóż zamówienie</button>
            </form>
        </div>
}
